@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fdfdfd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    --foreground: #fdfdfd;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
  padding: 0 1rem;
  max-width: 640px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  body {
    padding: 0 2rem;
  }
}

/* Animations of carrousel of skills */
@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-right {
  animation: scroll-right 30s linear infinite;
}

.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}

/* Background personalized */
.bg-dark-custom {
  background-color: #09090b;
}
